@import "../../../style/utils";

.gameLevel_caption {
  p {
    font-size: 0.8rem;
    margin-top: 0.8rem;
  }
  p.levelCaption_clue {
    margin-top: 2rem;
    font-size: 0.8rem;
    font-style: italic;
  }
}
