@import "../../style/utils";

.gamePropositions_tips {
  width: 100%;
  min-height: 120px;
  background-color: map-get($colors, fire);
  display: flex;
  align-items: center;
  border-radius: 10px;
  p.tips_proposition {
    font-size: 1.2rem;
    font-weight: 600;
  }
  p.tips_tip {
    color: map-get($colors, mauve);
    font-weight: 900;
    font-size: 1.5rem;
  }

  p.tips_haiku {
    color: map-get($colors, mauve);
    font-weight: 900;
    font-size: 1.5rem;
  }
}

.gamePropositions_tips[succeed="false"] {
  padding: 1rem;
  flex-direction: row;
  justify-content: center;

  p.tips_messageWin,
  p.tips_score {
    display: none;
  }
  button.next--button {
    display: none;
  }
}

.gamePropositions_tips[succeed="true"] {
  height: 100%;
  padding: 1rem;
  flex-direction: column;
  justify-content: space-around;

  p.tips_messageWin,
  p.tips_score {
    display: block;
  }
  p.tips_score {
    font-size: 1.2rem;
    font-weight: bold;
    color: map-get($colors, darkLagoon);
  }
  button.next--button {
    display: block;
  }
}
