@import "../../style/utils";

.game_container {
  background-color: map-get($colors, mauve);
  color: map-get($colors, ice);
  border-radius: 15px;
  padding: 20px 10px;
  height: 850px;
  display: flex;
  justify-content: center;
}

.game_propositions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  gap: 1rem;
}

.game_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h2 {
    font-size: 2.5rem;
    color: map-get($colors, fire);
  }
}
