@import "../../style/utils";

.gameProposition--button {
  border: none;
  width: 112px;
  height: 112px;
  border-radius: 50%;
  cursor: pointer;
  background-color: lighten(map-get($colors, fire), 25%);
  font-size: 1.1rem;
  font-weight: 900;
  color: map-get($colors, mauve);
  transition: all 300ms ease-in-out;
  scale: 1;
  &:hover {
    background-color: lighten(map-get($colors, lagoon), 25%);
    scale: 1.1;
  }
}

.gameProposition--button[posture="1"] {
  &:hover {
    transform: rotate(15deg);
  }
}

.gameProposition--button[posture="2"] {
  &:hover {
    transform: rotate(-15deg);
  }
}
