@import "../../style/utils";

.game_submit-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  input[type="text"] {
    width: 60%;
    padding: 5px;
    height: 30px;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: lighten(map-get($colors, fire), 25%);
    &:focus {
      outline: 4px solid map-get($colors, lagoon);
    }
    &::placeholder {
      font-size: 0.7rem;
      color: map-get($colors, lagoon);
      font-style: italic;
    }
  }
  input[type="submit"] {
    width: 60%;
    cursor: pointer;
    padding: 5px;
    height: 30px;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: lighten(map-get($colors, lagoon), 25%);
    color: map-get($colors, ice);
    font-weight: bold;
  }
}
