@import "../../style/utils";

.header {
  text-align: center;
  margin-bottom: 2rem;

  h1 {
    @include vinylFont;
    width: 100%;
    background-color: map-get($colors, lagoon);
    padding: 5px;
  }
}

.header_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  picture {
    display: block;
    width: 100%;
  }
  img {
    object-fit: contain;
    width: 100%;
    height: 150px;
  }
}

.header_icons {
  cursor: pointer;
  @include navIcons;
}

.icon--profile {
  font-size: 25px;
}

.icon--burger,
.icon--close {
  font-size: 25px;
}
