@import "../../style/utils";

@keyframes logoAnimIn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.4;
  }
}
@keyframes logoAnimOut {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.header {
  text-align: center;
  margin-bottom: 1rem;
  background-color: map-get($colors, darkLagoon);

  h1 {
    @include logoFont;
    width: 100%;
    background-color: map-get($colors, lagoon);
    padding: 5px 10px;
    @include responsiveTabloids {
      width: 60%;
      order: 2;
      text-align: left;
      background-color: inherit;
      padding: 0px 10px;
      border-radius: 10px;
      font-size: 40px;
    }
    @include responsiveDesktop {
      width: 65%;
      font-size: 50px;
    }
  }
}

.header_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  @include responsiveTabloids {
    justify-content: center;
  }
}

.header_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  @include responsiveTabloids {
    width: 19%;
    order: 1;
  }
  @include responsiveDesktop {
    width: 15%;
  }
  picture {
    display: block;
    width: 100%;
  }
  img {
    object-fit: contain;
    width: 100%;
    height: 150px;
  }
}

.logo--in {
  animation: logoAnimIn 500ms ease-in-out forwards;
}
.logo--out {
  animation: logoAnimOut 500ms ease-in-out forwards;
}

.header_icons {
  cursor: pointer;
  @include navIcons;
}

.icon--profile {
  font-size: 30px;
  @include responsiveTabloids {
    font-size: 60px;
  }
  @include responsiveDesktop {
    font-size: 80px;
  }
}

.icon--burger,
.icon--close {
  font-size: 30px;
}

#container-navIcon {
  margin: 0 auto;
  @include responsiveTabloids {
    display: none;
  }
}

#container-profileIcon {
  margin: 0 auto;
  @include responsiveTabloids {
    width: 12%;
    order: 3;
  }
  @include responsiveDesktop {
    width: 15%;
  }
}
