@import "./utils";

* {
  box-sizing: border-box;
}

html {
  @include rubickFont;
  font-size: 16px;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
li {
  @include resetMargin;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  &:hover,
  &:visited,
  &:active {
    text-decoration: none;
  }
}

body {
  position: relative;
  background-color: map-get($colors, ice);
}

.page-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  color: map-get($colors, ice);
  main {
    @include mainMarginMobile;
    flex-grow: 1;
    color: map-get($colors, darkLagoon);
    @include responsiveTabloids {
      @include mainMarginDesktop;
    }
  }
  footer {
    background-color: map-get($colors, darkLagoon);
    padding: 10px;
  }
}
