@import "../../../style/utils";

.game_submit-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  input[type="text"] {
    width: 100%;
    padding: 5px;
    height: 30px;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: lighten(map-get($colors, fire), 25%);
    &:focus {
      outline: 4px solid map-get($colors, lagoon);
    }
    &::placeholder {
      font-size: 0.7rem;
      color: map-get($colors, lagoon);
      font-style: italic;
    }
  }
}

.submitNumber_inputs {
  width: 100%;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  input {
    padding: 5px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: lighten(map-get($colors, fire), 25%);
    &:focus {
      outline: 4px solid map-get($colors, lagoon);
    }
    &::placeholder {
      font-size: 0.7rem;
      color: map-get($colors, lagoon);
      font-style: italic;
    }
  }
  input[type="text"] {
    width: 100%;
  }
  input[type="number"] {
    width: 45%;
  }
  p {
    @include glutenFont;
    height: 30px;
    padding: 10px;
  }
}
